{{> head}}

<section class="section">
    <div class="container">
        Wahoo! restricted area, click to <a href="/logout">logout</a>
        <div id="app"></div>
        <script src="/vue/vue.js"></script>
        <script src="/js/main.js"></script>
    </div>
</section>

{{> foot}}
